body{
    background-color:#1A1A1A ;

}
.container{
    display: flex;;
    margin-top:50px;
    margin-left:200px;
    margin-bottom:50px;
    margin-right:200px;
    background-color: black;
    border-radius: 15px;
    height:430px;
    gap:30px;
}
.google{
    color:white;
    font-size:60px;
}
.text1{
    color:white;
    font-size: 20px;
}
.text{
    display: flex;
    flex-direction:column;
    padding:60px;
    margin-top:30px;
    font-size:20px;
    color:white;
}
.email{
    margin-top:100px;
    color: white;
}
button{
    height:40px;
    width:200px;
    background-color: black;
    border: 2px solid grey;
    color:white;
    border-radius: 15px;
}
a{
    color:cyan;
}
select{
    margin-left:200px;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    color:white;
}

select:hover{
    height:50px;
    width:200px;
    background-color: darkgray;
    border-radius: 20px;
}

button:hover{
    border: 2px solid white;
}

