body{
  background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20230630/pngtree-spotify-icon-in-3d-with-background-and-extra-space-for-copy-image_3691631.jpg);
  background-size: cover;

}

.main{
    text-align:center;
    width:365px;
    height:760px;
    margin-left:450px;
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid gold;
    border-radius: 9px;
    margin-top:40px;
    color:white;
    padding:5px;



}

.text1{
    font-size: 65px;
    color: white;
}

form{
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
    color:white;

}

input{
    width:300px;
    height: 40px;
    border-radius: 5px;
    margin-top:5px;
}
.button1{
    width: 300px;
    border-radius:30px;
    background-color:rgb(67, 190, 67);
    font-size:15px;
    height:50px;
    color:black;

}
a{
    font-size:10px;
    color:green;
    text-align: left;
}

.button2{
    width: 300px;
    border-radius:30px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size:20px;
    height:50px;
    color:white;
    border: 2px solid grey;
}

.button2:hover{
    border:2px solid white;
}
.button1:hover{
    background-color: lightgreen;
}
a:hover{
    color: lightseagreen;
}

